:root {
  font-family: "Schibsted Grotesk", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1E1E1E;
  background-color: #E6DFC2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-fill-default: #FFFFFF;
  --button-fill-hover: #F4F3EC;
  --stroke-color: #C9C6BC;
  --icon-color: #888165;
  --surface-fill: #F7F3E1;
  --spring: linear(0, 0.008 1%, 0.032 2%, 0.124 4.2%, 0.649 12.6%, 0.859 16.7%, 0.936 18.7%, 0.998 20.8%, 1.042 22.9%, 1.072 25.1%, 1.091 28.1%, 1.09 31.5%, 1.015 45.7%, 0.993 54.6%, 1);
  --snap-spring: linear(0, 0.031 1.2%, 0.12 2.5%, 0.882 10.4%, 1.02 13.1%, 1.087 16.1%, 1.095 17.6%, 1.091 19.3%, 1.013 27.9%, 0.992 33.8%, 1.001 51.3%, 1);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  border-radius: 24px;
  border: 2px solid var(--stroke-color);
  padding: 0 1.25em 0 1em;
  height: 2.5rem;
  font-size: 0.8em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--button-fill-default);
  color: #1E1E1E;
  cursor: pointer;
  transition: background-color 0.15s;
  display: flex;
  align-items: center;
  gap: 6px;
}
button:hover {
  background-color: var(--button-fill-hover);
}
button:active {
  box-shadow: inset 0 4px 8px rgb(0, 0, 0, 0.25);
}

.toggleSwitch {
  display: flex;
  flex-direction: row;
}

input[type=radio] {
  display: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 9rem;
  font-size: 0.8em;
  font-weight: 600;
  font-family: inherit;
  border: 2px solid var(--stroke-color);
  background-color: var(--button-fill-default);
  cursor: pointer;
  transition: background-color 0.15s;
}
.radioLabel:hover {
  background-color: var(--button-fill-hover);
}
.radioLabel:active {
  box-shadow: inset 0 4px 8px rgb(0, 0, 0, 0.25);
}

.toggleSwitch .left {
  border-radius: 24px 0 0 24px;
}

.toggleSwitch .right {
  border-radius: 0 24px 24px 0;
}

input[type=radio]:checked + .radioLabel {
  border: 2px solid transparent;
  background-color: #FDCB28;
}

header {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 40rem;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--surface-fill);
  border-radius: 0 0 32px 32px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.25);
}

.nav-button {
  height: 4rem;
  width: 4rem;
  border-radius: 72px;
  border: none;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  padding: 0;
}
.nav-button:active {
  box-shadow: inset 0 2px 4px rgb(0, 0, 0, 0.25);
  transform: translateY(2px);
  transition: all 0.2s ease-in-out;
}
.nav-button:disabled {
  cursor: not-allowed;
}

main {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
}

.material-symbols-rounded {
  color: var(--icon-color);
  font-size: 18px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.card-container {
    perspective: 1000px; /* Needed for the 3D flip effect */
    width: 23rem;
    height: 15.5rem;
    display: flex;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.2s var(--spring);
  transform-style: preserve-3d; /* Ensures children are treated in 3D space */
  cursor: pointer;
}

/* Class added by JS to trigger the flip */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s var(--spring);
    transform-style: preserve-3d;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    border-radius: 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-face {
    position: absolute;
    width: 22rem;
    height: 14.5rem;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden; /* Hide the back side during flip */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1.3em;
    font-weight: 600;
    overflow-y: auto; /* Add scroll if content is too long */
    border-radius: 18px;
    padding: 1em;
}

.card-front {
    background-image: linear-gradient(to right, #E46A6E, #FFA86E);
    color: white;
}

.card-back {
    background-image: linear-gradient(to right, #289393, #28AC95);
    color: white;
    transform: rotateY(180deg); /* Position the back face initially */
}

.counter {
  font-size: 1em;
  font-weight: 400;
  width: 3rem;
  padding: 0.3em 1em;
  border-radius: 2rem;
  background-color: var(--surface-fill);
  position: absolute;
  bottom: 8em;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.toast {
  position: absolute;
  bottom: 1em;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 400;
  background-color: var(--button-fill-default);
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
  padding: 1em 1.5em 1em 1em;
  border-radius: 12px;
  animation: toastEnter 0.5s var(--snap-spring);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--surface-fill);
  border-radius: 1.5em;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.25);
  padding: 2em;
  width: 30rem;
  animation: modalEnter 0.3s;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-header h3 {
  margin: 0;
}

.modal-content p {
  text-align: left;
  margin: 0;
}

.modal-content input[type="file"] {
  display: none;
}

.custom-file-input {
  border-radius: 24px;
  border: 2px solid var(--stroke-color);
  padding: 0 1.25em 0 1em;
  height: 2.5rem;
  font-size: 0.8em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--button-fill-default);
  color: #1E1E1E;
  cursor: pointer;
  transition: background-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 1em;

}
.custom-file-input:hover {
  background-color: var(--button-fill-hover);
}
.custom-file-input:active {
  box-shadow: inset 0 4px 8px rgb(0, 0, 0, 0.25); 
}

@keyframes toastEnter {
  0% {
    bottom: -1.5em;
    opacity: 90%;
  }
  100% {
    bottom: 1em;
    opacity: 100%;
  }
}

@keyframes modalEnter {
  0% {
    transform: translateY(5%);
    opacity: 90%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}